#root {
  position: relative;
  height: 100vh;
  text-align: center;
  --main-bg-color: rgb(23, 17, 17);
  --drum-pad-color: rgb(60, 60, 60);
  --drum-pad-border-color: rgb(0, 233, 233);
  --font-color: rgb(240, 240, 240);
}

body {
  box-sizing: border-box;
  margin: auto;
  background-color: #18191a;
  background-image: url("https://getwallpapers.com/wallpaper/full/5/7/5/170960.jpg");
  background-size: cover;
}

#drum-machine {
  border: 5px solid;
  font-family: alef, sans-serif;
  border-image-slice: 1;
  border-image-source: 
    linear-gradient(135deg, rgba(255, 0, 0, 0.672), rgba(0, 0, 255, 0.672));
  /* background: linear-gradient(135deg, rgb(16, 16, 16), black); */
  background-color: var(--main-bg-color);
  width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: var(--font-color);
}

#drum-pad-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 1.2rem;
}

.drum-pad {
  height: 110px;
  width: 130px;
  border: 2px solid var(--drum-pad-border-color);
  border-radius: 5%;
  box-shadow: 5px 5px 10px -2px var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: var(--drum-pad-color);
  color: var(--drum-pad-border-color);
}

.drum-pad:hover {
  /* box-shadow: 5px 5px 3px #aaa, inset 0 0 12px var(--drum-pad-border-color); */
  cursor: pointer;
  color: var(--font-color);
  border-color: var(--font-color);

}

.drum-pad:active {
  /* box-shadow: inset 0 0 12px yellow; */
  box-shadow: none;
  color: var(--font-color);
  translate: 4px 4px;
}

.drum-pad.active {
  box-shadow: none;
  translate: 4px 4px;
}

#controls-board {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#display {
  border: 2px solid var(--font-color);
  border-radius: 3px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  color: var(--drum-pad-border-color);
  box-shadow: inset 0 0 8px var(--font-color);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#volume {
  display: block;
}

#volume-title {
  margin-bottom: 12px;
}

input[type=range] {
  -webkit-appearance: none; /* WebKit-based browsers */
  -moz-appearance: none;    /* Firefox */
  appearance: none;         /* Standard */
}

input[type=range]::-webkit-slider-runnable-track {
   width: 300px;
   height: 5px;
   background: var(--drum-pad-border-color);
   border: none;
   border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
   border: none;
   height: 20px;
   width: 10px;
   background: var(--font-color);
   margin-top: -8px;
}

#toggle-title {
  margin-bottom: -20px;  
}

#toggle {
  border: 2px solid var(--font-color);
  margin: 0 auto;
  width: 54px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

#toggle-slider {
  height: 20px;
  width: 25px;
  margin: 2px;
  background-color: var(--drum-pad-border-color);
  position: relative;
  transition: transform 3s ease-in-out;
}

#toggle-slider:hover {
  /* border-color: var(--drum-pad-border-color); try to figure this out, would be cool */
  background-color: aqua;
}

#toggle-slider.Power {
  background-color: red;
  box-shadow: none;
}

#toggle-slider.power {
  left: 25px;
  background-color: #35fa05;
  box-shadow: none;
}

#toggle-slider.power:active {
  translate: -25px;
}

#toggle-slider.bank-toggle {
  left: 25px;
}

#toggle-slider.bank-toggle:active {
  transform: translate(-25px);
}

/* #toggle-slider.bank-toggle {
  transition: transform 3s ease-in-out;
} */

#sound-bank-name {
  border: 2px solid var(--drum-pad-border-color);
  border-radius: 3px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  color: var(--font-color);
  box-shadow: inset 0 0 8px var(--drum-pad-border-color);
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 1.6rem;
  border-bottom: 2px solid var(--drum-pad-border-color);
  margin-top: 1rem;
  padding: 0 8px 0.2rem 8px; */
}

img {
  height: 50px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

#controls-board:last-child {
  margin-bottom: 1em;
}